@import 'colors';
@import 'values';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: $scrollbar-width;

  &-track {
    background: transparent;
  }

  &-thumb {
    background: $color-scrollbar;
    border-radius: $radius-sm;

    &:hover {
      background: $color-scrollbar-hover;
    }
  }
}
